html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#table-container{
    width: 95%;
    display: block;
    margin: auto;
}

#filter{
    width: 95%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
#table{
    min-width: 510px;
    width: 95%;
    border: solid grey 1px;
    margin: auto;
    align-items: center;
}
.filter-box{
    color: gray;
    border: solid gray 1px;
    border-radius: 5px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-box:first-child{
    margin-left: 0px;
}

.filter-box:hover{
    cursor: pointer;
    background-color: gainsboro;
}
.filter-desc{
    padding: 5px;
}

.icon{
    height: 15px;
    width: 15px;
    margin: 5px;
    background-image: url("./icon/filter-solid.svg");
    background-size: 100% 100%;
}
.drop-down{
    position: absolute;
    color: #808080;
    background-color: whitesmoke;
    display: none;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

.drop-down > div{
    width: 200px;
    display: flex;
    align-items: center;
}

.drop-down > div:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.drop-down > div >div:first-child   {
   width: 150px;
   padding: 5px;
}
.drop-down > div >div:last-child   {
   display: flex;
   justify-content: flex-end;
   width: 50px; 
   padding: 5px;
}

#ascending{
    background-image: url("./icon/sort-alpha-down-solid.svg");
    background-size: 100% 100%;

}
#descending{
    background-image: url("./icon/sort-alpha-up-solid.svg");
    background-size: 100% 100%;

}

.row{
    min-width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.row>div{
    min-width: 68px;
    border: solid #808080 1px;
    width: 16.28%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row>div:first-child{
    min-width: 40px;
    width: 40px;
}

.row:first-child{
    background-color: gray;
    font-weight: bold;
    color: white;
    font-size: 1.1em;
}

.row:nth-child(even){
    background-color: gainsboro;
}